*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: calc(100vw - 17px);
    font-family:"Noto Sans TC",Helvetica,Arial,sans-serif!important;
}

#wrapper{
    width: 100%;
}

header{
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.fusion-header{
    padding-left: 30px;
    padding-right: 30px;
}

.fusion-row{
    display: flex;
}

.fusion-logo-link{
    display: flex;
}

.fusion-main-menu{
    display: block;
    padding-left: 1.8em;
    width: calc(100% - 120px - 1em);
}

@media screen and (max-width:1405px) {
    .fusion-main-menu{
        display: none;
    }
}

#menu-main-menu{
    display: flex;
    list-style: none;
    height: 100%;
}

#menu-main-menu li{
    display: flex;
    align-items: center;
}

#menu-main-menu li a{
    display: flex;
    text-decoration: none;
    padding: 0 1em;
}

#menu-item-64121{
    margin-left: auto;
}

#menu-item-64121 > a > span{
    background: #fff;
    color: rgba(0, 0, 0, 0.5)!important;
    padding: 0.55em 1.6em;
    border-radius: 35px!important;
    border: solid 1px grey;
}

#menu-item-54199 > a > span{
    background-image: linear-gradient(105deg, #e22410, #f30063)!important;
    color: #fff!important;
    border-color: transparent!important;
    background: #fff;
    padding: 0.55em 1.6em;
    border-radius: 35px!important;
    border: solid 1px grey;
    box-shadow: 0 15px 15px -15px rgba(229, 58, 40, 0.8)!important;
    font-size: 18px!important;
    font-weight: 500;
}

.menu-text{
    color: #282828;
    font-family: "Lato", "Noto Sans TC", "LiHei Pro", "Microsoft JhengHei", "微軟正黑體",sans-serif;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 900;
    padding: 5px 0;
    position: relative;
}

.fusion-caret{
    display: flex;
    align-items: center;
    margin-left: 9px;
}

.fusion-mobile-menu-icons{
    margin-left: auto;
}

.fusion-mobile-menu-icons a{
    margin-top: 3px!important;
}

.fusion-mobile-menu-icons a::before{
    content: '';
    /* display: inline-block; */
    width: 23px;
    height: 75px;
    background: url(./img/icon-mobile-menu.svg);
    background-repeat: no-repeat;
    background-position: center right;
    display: none;
}

@media screen and (max-width:1405px) {
    .fusion-mobile-menu-icons a::before{
        display: flex;
    }
}

#wrapper{
    width: 100%;
}

#post-75688{
    width: 100%;
    height: 545px;
    background-image: url(./img/plan_kvbg01-s.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 20px;
}

.fusion-builder-row{
    padding-bottom: 15px;
    display: table;
    /* width: 1200px; */
    height: 545px;
    margin-left: auto;
    margin-right: auto;
}

.fusion-separator{
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

[data-margin-bottom]{
    margin-bottom: 20px;
}

[data-margin-top]{
    margin-top: 20px;
}

.sc-fzoWqW{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.content-boxes{
    /* width: 500px; */
    height: fit-content;
    background-color: #cfdcec;
    display: flex;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.content-boxes img{
    margin: auto;
}

@media screen and (min-width:1200px) {
    .sc-fzoWqW{
    }
    
    .content-boxes{
        width: 1200px;
    }
}


.action{
    display: flex;
}

.action div{
    margin: auto;
    padding: 15px 10px;
    margin-top: 10px;
    background-color: #e0edfd;
}