@model Assignment1.Models.AddUserViewModel
@{
}

<h1>@TempData["Message"]</h1>
<h1>Sign In</h1>
<form method="post" action="SignIn">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="text" class="form-control" asp-for="Password">
    </div>

    <button type="submit" class="btn btn-primary">Sign In</button>
</form>

<h1>Sign Up</h1>
<form method="post" action="SignUp">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="text" class="form-control" asp-for="Password">
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>